.first{
background-color: rgb(240, 252, 252);
border: 6.9px solid black;
}
.second{
    background-color: rgb(240, 252, 252);
    border: 3px solid black;
    }

.third{
        background-color: rgb(240, 252, 252);
        border: 1px solid black;
        }

        
